moc_*.cxx
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles
CMakeCache.txt
/fpserver
/fpindex
/fpsearch
/tests
/fpi-add
/fpi-import
doc/tree_structure.png
/fpstats
/fpsearch2
/callgrind.out.*
/fpdumpindex
core
*.a
*.so
*.cxx_parameters
install_manifest.txt
*.deb
/fpi-index
/fpi-server
/fpi-search
/build
